.container {display: grid;
						max-width: 300px;
						position: relative;
						margin: auto;
						grid-template-areas: "head head"
																	"middle middle"
																	"footer footer";
						grid-template-rows: 20%, 60%, 20%;
						grid-template-colums: 2 fr, 2 fr, 2 fr;	
						text-align: center;
						border-width: 2px;
						border-color: black;
		}
			
.header { 
		grid-area: head;
}
		
	/*.nav { 
		grid-area: middle;
		}
	*/		
.footer {
	grid-area: footer;
}
#naam{
	height: 30px;
}
#slot{
	height: 50px;
	width: 50px;
}

table{
	border: 2px solid orange;
	grid-area: middle;
}
td{
	width: 100px;
}

tr{
	height: 50px;
}

body{
	margin-top: 40px;

}